@use '~bootstrap/scss/bootstrap';

＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #262626;
}

.header-content {
  padding-right: 10px;
}

footer{
  position: absolute;
  bottom: 0;
}